/* CSS HEX */
--baby-powder: #f5f7f3ff;
--columbia-blue: #bdd2eaff;
--cambridge-blue: #9aac8aff;
--battleship-gray: #939598ff;
--celestial-blue: #4f99ccff;
--fern-green: #48773eff;
--cinnabar: #ef402bff;


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}


/*helps with overflow on pictures*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-height: 100%;
  max-width: 100%;
}

header {
    overflow: hidden;

    background-color: white;

    position: sticky;
    top: 0;

    z-index: 99;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    margin-right: 1.2em;
    list-style-type: none;
}

header a {
    display: block;
    padding: 0.5em 1em;

    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 0.03em;

    font-weight: bold;
}

header a:link {
    color: #D54215;
}

header a:visited {
    color: #D54215;
}

header a:hover {
    color: #007dbc;
}

header a:active {
    color: black;
}

header img {
    float: left;

    margin: 10px 15px 15px 10px;

    width: 50px;
    height: auto;
}

nav {
    float: right;
}

div {
    height: 100vh;
}