/* CSS HEX */
--baby-powder: #f5f7f3ff;
--columbia-blue: #bdd2eaff;
--cambridge-blue: #9aac8aff;
--battleship-gray: #939598ff;
--celestial-blue: #4f99ccff;
--fern-green: #48773eff;
--cinnabar: #ef402bff;


In Assignment 2 and Assignment 3 you are required to
create and use a simple Separation of Concerns.

In Assignment 2 and Assignment 3 you are required to
use BEM methodology.